<?xml version="1.0" encoding="UTF-8"?>

<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
        xmlns:android="http://schemas.android.com/apk/res/android"
        id="com.redradix.ping"
        version="0.0.1">

    <name>PingPlugin</name>

    <description>Simple test plugin</description>
    <license>Apache 2.0</license>

    <author>Elias @ Redradix.com</author>

    <engines>
        <engine name="cordova" version=">=3.0.0" />
    </engines>

    <!-- interface -->
    <js-module src="www/ping.js" name="Ping">
        <clobbers target="plugin.ping" />
    </js-module>

    <!-- android -->
    <platform name="android">
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="PingPlugin">
                <param name="android-package" value="com.redradix.ping.PingPlugin"/>
            </feature>
        </config-file>

        <source-file src="src/android/PingPlugin.java" target-dir="src/com/redradix/ping" />
    </platform>

</plugin>
